.features {
    padding: 50px 12%;
    font-size: 22px;
}

.row {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;
}

.text-column {
    flex-basis: 50%;
    margin-bottom: 20px;
}

.image-col {
    flex-basis: 50%;
    margin-bottom: 20px;
}

.image-col img {
    display: block;
    margin: auto;
    width: 90%;
}

.features h2 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}